.div1{
    position:absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(24, 24, 25, 0.7);
    display:flex;
    justify-content: center;
}
.innerdiv{
    width: 30vw;
    padding: 5vw;
    height: 30vh;
    background-color: black;
}

.input{
    width: 20vw;
    padding: 15px;
    border-radius: 3px;
    outline: none;
    background: #082525;
    border: 1px solid rgba(255,255,255,0.25);
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
    margin:1rem
}

.button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #e9efea;
    width: 5vw;
    padding: 10px;
    color: #3d1f1f;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 1rem
}