.cards{
    height: 18vh;
    width: 25vw;
    background-color: rgb(255, 255, 255);
    border-color: transparent;
    box-shadow: 0 10px 20px rgba(0,0.2,0,0.2), 0 6px 6px rgba(0,0.23,0,0.23);
    color:rgb(97, 82, 82);
    font-weight: 700;
    font-size: 1.5rem;
    margin: 2rem
}

.link{
    text-decoration: none;
        color:rgb(97, 82, 82);

}