.App {
  text-align: center;
  color: rgb(76, 69, 69)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(251, 94, 94);
  font-size: 2rem;
  font-weight: 700;
  color: white;
  padding: 1rem;
}

.login-register-button {
  background-color: rgb(250, 250, 250);
  color: rgb(125, 116, 116);
  border-color: transparent;
  border-radius: 10%;
  border-width: 0.1rem;
  font-size: 1rem;
  height: 2rem;
  font-weight: 700;
  margin-left: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(90deg,
      rgb(252, 119, 119) 0%,
      rgb(243, 171, 174) 100%);
}

.todo-app {
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 40px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #1d1b21;
  outline: none;
  width: 500px;
  background: transparent;
  color: #fff;
  font-size: 1.5rem;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg,
      rgb(169, 158, 190) 0%,
      rgba(155, 0, 250, 1) 100%);
  color: #fff;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%);
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg,
      rgb(239, 115, 111) 0%,
      rgba(255, 84, 17, 1) 100%);

  padding: 16px;
  border-radius: 5px;
  width: 60%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(90deg,
      rgb(163, 134, 220) 0%,
      rgb(55, 48, 59) 100%);
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(90deg,
      rgb(155, 129, 153) 0%,
      rgb(121, 81, 133) 100%);
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(90deg,
      rgb(148, 154, 158) 0%,
      rgb(10, 10, 11) 100%);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.saveButton {
  width: 5vw;
  height: 3vw;
  padding: 0.5rem;
  margin: 1rem;
  background-color: rgb(61, 241, 175);
}